@model Vidly.Models.Movie

@{
    Layout = null;
}

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Movie Id: @Model.Id</li>
    <li>Genre: @Model.MovieData.MoviesGenres.GenreName</li>
    <li>Date Added: @Model.MovieData.DateAdded.Date</li>
    <li>Released Date: @Model.MovieData.ReleaseDate.Date</li>
    <li>Number in Stock: @Model.MovieData.NumberInStock</li>
</ul>