@model Vidly.Models.Customer

@{
    Layout = null;
}
<th>Birthdate</th>

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Client Name</th>
        @if (Model.Birthdate.HasValue)
        {
            <th>Birthdate</th>
        }
        <th>Membership</th>
        <th>Discount Rate</th>
    </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
                @if (Model.Birthdate.HasValue)
                {
            <td>@Model.Birthdate.Value.ToShortDateString()</td>
                }
            <td>@Model.MembershipType.Name</td>
            <td>@Model.MembershipType.DiscountRate%</td>
        </tr>
    
    </tbody>
</table>